<div
  class="container"
  fxLayout.xs="column"
  fxLayoutGap="3%"
  fxLayoutWrap
  fxLayoutGap="0%"
  fxLayoutAlign="center"
  style="min-height: 100%"
  class="background-black"
>
  <div fxFlex="55%" fxFlex.xs="100%" class="center">
    <div class="content-login"></div>
  </div>
  <div fxFlex="45%" fxFlex.xs="100%" style="min-width: 350px !important">
    <router-outlet></router-outlet>
    <div class="container-loading" *ngIf="loading | async">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>
