.mat-drawer-container {
  position: sticky;
  // height: calc(100% - 100px);
  // // right: 30px;
  // left: auto;
  // // bottom: 57px;
  // top: 100px;
  // width: calc(100% - 30px);
}
.example-sidenav {
  position: fixed;
  top: 94px;
}
.main-content {
  padding-left: 0.5em;
  // padding-right: 1.8em;
}
.mat-list-base {
  padding-top: 0px;
}
ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  transition: 0.2s linear left;
  /* maybe other vendor-prefixed transitions */
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  transition: 0.2s linear top;
  /* maybe other vendor-prefixed transitions */
}
html {
  scroll-behavior: smooth;
}
button {
  line-height: 36px !important;
}
