<form [formGroup]="formGroup">
  <div class="container" fxLayout="row" fxLayout.sm="column" fxLayoutGap="3%">
    <div fxFlex="50%" class="center">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>País</mat-label>
        <mat-select
          name="idPais"
          formControlName="idPais"
          required
          (valueChange)="listarDepartamento($event)"
        >
          <mat-option *ngFor="let pais of listaPaises" [value]="pais.id">
            {{ pais.nombre }}
          </mat-option>
        </mat-select>
        <app-validacion [control]="getControl('idPais')"></app-validacion>
      </mat-form-field>
    </div>
    <div fxFlex="50%" class="center">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Departamento</mat-label>
        <mat-select
          name="idDepartamento"
          formControlName="idDepartamento"
          required
          (valueChange)="listarProvincia($event)"
        >
          <mat-option
            *ngFor="let departamento of listaDepartamentos"
            [value]="departamento.id"
          >
            {{ departamento.nombre }}
          </mat-option>
        </mat-select>
        <app-validacion
          [control]="getControl('idDepartamento')"
        ></app-validacion>
      </mat-form-field>
    </div>
  </div>
  <div class="container" fxLayout="row" fxLayout.sm="column" fxLayoutGap="3%">
    <div fxFlex="50%" class="center">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Provincia</mat-label>
        <mat-select
          name="idProvincia"
          formControlName="idProvincia"
          required
          (valueChange)="listarDistritos($event)"
        >
          <mat-option
            *ngFor="let provincia of listaProvincias"
            [value]="provincia.id"
          >
            {{ provincia.nombre }}
          </mat-option>
        </mat-select>
        <app-validacion [control]="getControl('idProvincia')"></app-validacion>
      </mat-form-field>
    </div>
    <div fxFlex="50%" class="center">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Distrito</mat-label>
        <mat-select name="idDistrito" formControlName="idDistrito" required>
          <mat-option
            *ngFor="let distrito of listaDistritos"
            [value]="distrito.id"
          >
            {{ distrito.nombre }}
          </mat-option>
        </mat-select>
        <app-validacion [control]="getControl('idDistrito')"></app-validacion>
      </mat-form-field>
    </div>
  </div>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Dirección</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMaxRows="4"
      cdkAutosizeMinRows="2"
      formControlName="direccion"
      required
      maxlength="255"
    ></textarea>
    <app-validacion [control]="getControl('direccion')"></app-validacion>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Calle</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMaxRows="4"
      cdkAutosizeMinRows="2"
      placeholder="Calle/Lote/Manzana"
      formControlName="calle"
      required
      maxlength="255"
    ></textarea>
    <app-validacion [control]="getControl('calle')"></app-validacion>
  </mat-form-field>
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Referencia</mat-label>
    <textarea
      matInput
      cdkTextareaAutosize
      cdkAutosizeMaxRows="4"
      cdkAutosizeMinRows="2"
      placeholder="Referencia"
      formControlName="referencia"
      required
      maxlength="255"
    ></textarea>
    <app-validacion [control]="getControl('referencia')"></app-validacion>
  </mat-form-field>
</form>
