<div class="container" fxLayout="column" fxLayoutWrap fxLayoutAlign="center">
  <div fxFlex="100%" class="center margin-30">
    <h1>Elija un plan para vender sus productos en BMoi</h1>
    <p class="mat-form-field-label">
      Aumente las ventas y la eficiencia con potentes funciones que se adaptan a
      su negocio
    </p>
  </div>
</div>
<div
  class="container"
  fxLayout="column"
  fxLayout.sm="row"
  fxLayout.md="row"
  fxLayout.lg="row"
  fxLayoutGap="3%"
  fxLayoutWrap
  fxLayoutAlign="center"
>
  <div fxFlex="25%" class="center">
    <mat-card class="content-plan">
      <mat-card-content>
        <h1>Standard</h1>
        <p>PRIMER MES GRATIS</p>
        <p>después</p>
        <h1 class="precio">S/. 118.70</h1>
        <p>Venda en línea con una atractiva tienda en línea propia</p>
        <button mat-button class="background-ambar-black">
          <mat-label>Seleccionar plan</mat-label>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25%" class="center">
    <mat-card class="content-plan">
      <mat-card-content>
        <h1>Plus</h1>
        <p>PRIMER MES GRATIS</p>
        <p>después</p>
        <h1 class="precio">S/. 323.36</h1>
        <p>Venda en línea con una atractiva tienda en línea propia</p>
        <button mat-button class="background-ambar-black">
          <mat-label>Seleccionar plan</mat-label>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25%" class="center">
    <mat-card class="content-plan">
      <mat-card-content>
        <h1>Pro</h1>
        <p>PRIMER MES GRATIS</p>
        <p>después</p>
        <h1 class="precio">S/. 1227.94</h1>
        <p>Venda en línea con una atractiva tienda en línea propia</p>
        <button mat-button class="background-ambar-black">
          <mat-label>Seleccionar plan</mat-label>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
