<app-toolbar-index>
  <ng-container body>
    <div
      class="margin-30"
      fxLayout="column"
      fxLayout.md="row"
      fxLayout.lg="row"
      fxLayout.sm="row"
      fxLayoutWrap
      fxLayoutAlign="center"
    >
      <div fxFlex="50%" class="center info-app">
        <h1 class="h1-titulo" style="font-size: 50px">
          Descarga gratis nuestra APP
        </h1>
        <div style="width: 230px; margin: auto">
          <a href="" class="appstores appcontent">app-store</a>
          <p>Si tienes IPhone o Ipad pincha aqui para descargar</p>
          <a href="" class="googleplay appcontent">google-play</a>
          <p>Si tu dispositivo es Android pincha aqui para descargar</p>
        </div>
        <div style="display: flex">
          <ul>
            <li>
              <mat-icon>add_circle</mat-icon>
              <h3 class="h1-titulo">Más información</h3>
            </li>
            <ol>
              <li>
                <mat-icon>add_circle</mat-icon>
                <h3 class="h1-titulo">Más Rápido</h3>
              </li>
              <ol>
                <li>
                  <mat-icon>add_circle</mat-icon>
                  <h3 class="h1-titulo">Más Seguro</h3>
                </li>
              </ol>
            </ol>
          </ul>
        </div>
      </div>
      <div fxFlex="50%" class="center">
        <img src="assets/img/bmoi-app.png" alt="" />
      </div>
    </div>
  </ng-container>
</app-toolbar-index>
