.mat-form-field {
  width: 100%;
  padding: 0 16px;
}
table {
  width: 100%;
}
.iframe-youtube {
  position: relative;
  height: 250px;
  margin-top: -14px;
  margin-left: 16px;
  margin-right: 18px;
}
.youtube-content {
  height: 100px;
  width: 100px;
  font-size: 80px;
}

::ng-deep {
  .ant-upload-list {
    display: none;
  }

  .ant-upload.ant-upload-disabled,
  .ant-upload.ant-upload-drag.ant-upload-disabled {
    cursor: default;
  }
}
.content-recurso {
  width: auto;
  height: 100%;
}
