<form [formGroup]="formGroup" autocomplete="off">
  <ng-container
    formArrayName="personas"
    *ngFor="let item of getFormArray().controls; let i = index"
  >
    <div [formGroupName]="i" *ngIf="ordenSeleccionado == i + 1">
      <div
        class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayoutGap="3%"
      >
        <div fxFlex="50%" class="center">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Nombres </mat-label>
            <input
              matInput
              type="text"
              placeholder="Primer nombres"
              formControlName="nombres"
              required
              maxlength="255"
              appSoloAlfabeto
            />
            <app-validacion [control]="item.get('nombres')"></app-validacion>
          </mat-form-field>
        </div>
        <div fxFlex="50%" class="center"></div>
      </div>
      <div
        class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayoutGap="3%"
      >
        <div fxFlex="50%" class="center">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Primer apellido</mat-label>
            <input
              matInput
              type="text"
              placeholder="Primer apellido"
              required
              formControlName="priApellido"
              maxlength="255"
            />
            <app-validacion
              [control]="item.get('priApellido')"
            ></app-validacion>
          </mat-form-field>
        </div>
        <div fxFlex="50%" class="center">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Segundo apellido</mat-label>
            <input
              matInput
              type="text"
              placeholder="Segundo apellido"
              formControlName="segApellido"
              required
              maxlength="255"
            />
            <app-validacion
              [control]="item.get('segApellido')"
            ></app-validacion>
          </mat-form-field>
        </div>
      </div>
      <div
        class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayoutGap="3%"
      >
        <div fxFlex="50%" class="center">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Sexo</mat-label>
            <mat-select
              name="sexo"
              required
              formControlName="sexo"
              placeholder="Sexo"
            >
              <mat-option *ngFor="let doc of listaSexo" [value]="doc.fieldvalue"
                >{{ doc.descripcion }}
              </mat-option>
            </mat-select>
            <app-validacion [control]="item.get('sexo')"></app-validacion>
          </mat-form-field>
        </div>
        <div fxFlex="50%" class="center">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Fecha de nacimiento</mat-label>
            <input
              matInput
              #InputFecNacimiento
              [matDatepicker]="picker"
              placeholder="dd/mm/aa"
              formControlName="fecNacimiento"
              [max]="maxDate"
              (focus)="picker.open()"
              required
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #picker
              (closed)="InputFecNacimiento.blur()"
            ></mat-datepicker>
            <app-validacion
              [control]="item.get('fecNacimiento')"
            ></app-validacion>
          </mat-form-field>
        </div>
      </div>
      <div
        class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayoutGap="3%"
      >
        <div fxFlex="50%" class="center">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Tipo de documento</mat-label>
            <mat-select
              name="tipDocumento"
              required
              placeholder="Seleccionar"
              formControlName="tipDocumento"
            >
              <mat-option
                *ngFor="let doc of listaTipoDocumento"
                [value]="doc.fieldvalue"
                >{{ doc.fieldvalue }}
              </mat-option>
            </mat-select>
            <app-validacion
              [control]="item.get('tipDocumento')"
            ></app-validacion>
          </mat-form-field>
        </div>
        <div fxFlex="50%" class="center">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Número de documento</mat-label>
            <input
              matInput
              required
              placeholder="Número de documento"
              formControlName="numDocumento"
              minlength="8"
              (keypress)="soloNumero($event)"
              [maxlength]="item.get('tipDocumento')?.value == 'DNI' ? 8 : 20"
            />
            <app-validacion
              [control]="item.get('numDocumento')"
            ></app-validacion>
          </mat-form-field>
        </div>
      </div>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          required
          formControlName="email"
          placeholder="email@domino.com"
          [email]="true"
          maxlength="100"
        />
        <app-validacion [control]="item.get('email')"></app-validacion>
      </mat-form-field>
      <div
        class="container"
        fxLayout="row"
        fxLayout.sm="column"
        fxLayoutGap="3%"
      >
        <div fxFlex="50%" class="center">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Telefono móvil </mat-label>
            <input
              matInput
              type="text"
              required
              minlength="9"
              placeholder="985165122"
              formControlName="celular"
              (keypress)="soloNumero($event)"
              maxlength="20"
            />
            <app-validacion
              [control]="item.get('celular')"
              minlength="9"
            ></app-validacion>
          </mat-form-field>
        </div>
        <div fxFlex="50%" class="center">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Codigo de país</mat-label>
            <input
              matInput
              type="text"
              required
              minlength="2"
              placeholder="51"
              formControlName="codigopais"
              maxlength="5"
              appNumber
              (keypress)="soloNumero($event)"
            />
            <app-validacion
              [control]="item.get('codigopais')"
              minlength="9"
            ></app-validacion>
          </mat-form-field>
        </div>
      </div>
    </div>
  </ng-container>
</form>
