.content-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin: auto;
  font-size: 18px !important;
  width: 100%;
  height: 63.99px;
  img {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
// .mat-list-base .mat-list-option {
//   // color: white;
// }

.cia {
  margin-left: 10px;
  margin-right: auto;
}

.container-lateral {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sub-menu {
  height: 100%;
}

.color-purple {
  // background: #318131;
}
